
<!DOCTYPE html>

<html>
<head>
    <title>@Page.Title</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Medical Template">
    <meta name="keywords" content="Medical, medihere, Doctor, HTML5, Bootstrap, Popular, custom, clinic, health-care, template, theme" />
    <meta name="author" content="Mostafiz">
    <!-- Favicon -->
    <link rel="icon" href=@Url.Content("/Content/images/favicon.ico")>
    <title>Medihere - Responsive Bootstrap &amp; HTML Medical Template</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/font-awesome.min.css")>
    <!-- bootstrap css -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.min.css")>
    <!-- preloader css -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/introLoader.min.css")>
    <!-- animate css -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/animate.css") type="text/css" />
    <!-- owl carousel styles -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/owl.carousel.css") type="text/css" />
    <!-- date picker css -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/datepicker.css")>
    <!-- main style -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/style.css")>
    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,500' rel='stylesheet' type='text/css'>
    <!-- modernizr -->
    <script src=@Url.Content("/Content/js/modernizr.js")></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <main id="wrapper">
        <!-- // Preloader markup -->
        <div id="element" class="introLoading"></div>

        @Html.Partial("_Header")

        <!-- Blog page banner -->
        <section id="banner" class="banner text-center">
            <div class="container">
                <div class="row">
                    <h1>Dịch vụ của HealthCareVN</h1>
                    <p>Chăm sóc tận tình, uy tín, đặt lịch khám bệnh dể dàng</p>
                </div>
            </div>
        </section>
        <!-- banner ends -->
        <!-- services -->
        <section class="service">
            <div class="container">
                <div class="page-nav">
                    <span class="heading-nav"><a href="/TrangChu">Trang chủ</a> | Dịch vụ</span>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="service-heading">
                            <h2>Dịch vụ</h2>
                            <p>Cung cấp cho bạn rất nhiều những dịch vụ chăm sóc, khám chữa bệnh</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12 single-services">
                                <!-- service 1 -->
                                <div class="col-md-4 col-sm-6">
                                    <div class="single-service service-1">
                                        <span></span>
                                        <h3>Tim mạch</h3>
                                        <p>Khám, điều trị và tư vấn chuyên sâu các bệnh về Tim mạch</p>
                                    </div>
                                </div>
                                <!-- service 2 -->
                                <div class="col-md-4 col-sm-6">
                                    <div class="single-service service-2">
                                        <span></span>
                                        <h3>Nha khoa</h3>
                                        <p>Áp dụng những công nghệ, kỹ thuật mới nhất trong chắm sóc răng miệng</p>
                                    </div>
                                </div>
                                <!-- service 3 -->
                                <div class="col-md-4 col-sm-6">
                                    <div class="single-service service-3">
                                        <span></span>
                                        <h3>Tai mũi họng</h3>
                                        <p>Do các bác sĩ chuyên khoa tai mũi họng trực tếp khám bệnh</p>
                                    </div>
                                </div>
                                <!-- service 4 -->
                                <div class="col-md-4 col-sm-6">
                                    <div class="single-service service-4">
                                        <span></span>
                                        <h3>Chăm sóc khẩn cấp</h3>
                                        <p>Kịp thời tiếp cận và cứu chữa cho bệnh nhân</p>
                                    </div>
                                </div>
                                <!-- service 5 -->
                                <div class="col-md-4 col-sm-6">
                                    <div class="single-service service-5">
                                        <span></span>
                                        <h3>Nội khoa</h3>
                                        <p>Các chuyên gia đầu ngành về Nội Hô hấp trực tiếp thăm khám và điều trị</p>
                                    </div>
                                </div>
                                <!-- service 6 -->
                                <div class="col-md-4 col-sm-6">
                                    <div class="single-service service-6">
                                        <span></span>
                                        <h3>Kiểm tra ADN</h3>
                                        <p>Công nghệ phân tích và các trang thiết bị được nhập khẩu trực tiếp từ hãng uy tín nhất của Mỹ như Illumina, AppliedBiosystems, Qiagen, Sigma…</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <!-- newsletter -->
        <div class="newsletter">
            <div class="container">
                <div class="row">
                    @*<div class="newsletter-contents">
                        <div class="col-md-6 clearfix">
                            <form action="?">
                                <input class="col-md-9 col-sm-9 col-xs-9" type="email" placeholder="Email">
                                <input class="col-md-3 col-sm-3 col-xs-3" type="submit" value="Gửi">
                            </form>
                        </div>
                        <div class="col-md-6 clearfix">
                            <h3>Đăng ký nhận bản tin, cập nhật!</h3>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <!-- newsletter ends -->

        @Html.Partial("_Footer")

    </main>
    <!-- main page ends -->
    <!-- Jquery and javascript files -->
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery-2.1.1.js")></script>
    <!-- date picker js -->
    <script type="text/javascript" src=@Url.Content("/Content/js/datepicker.js")></script>
    <!-- bootstrap 3.3.6 js -->
    <script type="text/javascript" src=@Url.Content("/Content/js/bootstrap.min.js")></script>
    <!-- owl carousel js-->
    <script type="text/javascript" src=@Url.Content("/Content/js/owl.carousel.js")></script>
    <!-- smooth scroll js -->
    <script type="text/javascript" src=@Url.Content("/Content/js/smoothscroll.js")></script>
    <!-- preloader js -->
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.introLoader.pack.min.js")></script>
    <!-- custom scripts -->
    <script type="text/javascript" src=@Url.Content("/Content/js/script.js")></script>
</body>
</html>
