<!-- footer starts -->
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-widget1">
                    <div>
                        <h3>Thông tin liên hệ</h3>
                        <span style="background:white">Địa chỉ: Hồ Chí Minh City, Việt Nam </span>
                        <br>
                        <br>
                        <span style="background:white">Email: trangialoc1998@gmail.com</span>
                        <br>
                        <br>
                        <span style="background:white">Số điện thoại: +84787060753</span>
                        <br>
                        <br>
                        <br>
                    </div>
                    @*<div class="footer-socials">
                            <h4>Liên lạc</h4>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        
                    </div>*@
                </div>

                @*<div class="col-md-4 footer-widget2">
                    <h3>Thông tin liên hệ</h3>
                    <span>Hồ Chí Minh City, Việt Nam </span>
                    <br>
                    <span>VietNam</span>
                    <br>
                    <span>trangialoc1998@gmail.com</span>
                    <br>
                    <span>+84787060753</span>

                    <div class="footer-socials">
                        <h4>Liên lạc</h4>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>*@

                @*<div class="col-md-4 footer-widget3">
                    <h3>Mới nhất</h3>
                    <div class="single-tweet">
                        <div class="col-xs-1 no-padding">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="tweet-content col-xs-11">
                            <p><a href="#">Jorbadan</a> <a href="#">koitamna.co.bd</a></p>
                            <span>3 days ago</span>
                        </div>
                    </div>
                    <div class="single-tweet">
                        <div class="col-xs-1 no-padding">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="tweet-content col-xs-11">
                            <p><a href="#">Jorbadan</a> <a href="#">koitamna.co.bd</a></p>
                            <span>3 days ago</span>
                        </div>
                    </div>
                    <div class="single-tweet">
                        <div class="col-xs-1 no-padding">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="tweet-content col-xs-11">
                            <p><a href="#">Jorbadan</a> <a href="#">koitamna.co.bd</a></p>
                            <span>3 days ago</span>
                        </div>
                    </div>
                </div>*@

            </div>
        </div>
    </div>
    <div id="back-top">
        <a class="back-top" href="#slider"><i class="fa fa-angle-up"></i></a>
    </div>
    <div class="footer-bottom text-center">
        <p>Copyright &copy; 2022 Health Care. All rights Reserved</p>
    </div>
</footer>
